@using Hangman.Models
@model GameResult

@{
    ViewBag.Title = "Justin's Hangman";
}

<div class="row">
    <h2>Justin's Hangman</h2>
    <img src="~/Content/Images/hang0.gif" alt="Gallows" />
</div>
<div>
    You: @Model.GameResultState.ToString()!
</div>
<div>
    Play Another? @Html.ActionLink("Yes", "StartGame") @Html.ActionLink("No", "Reset")
</div>
