
@{
    ViewBag.Title = "Justin's Hangman";
}

<div class="row">
    <h2>Justin's Hangman</h2>
    <img src="~/Content/Images/hang0.gif" alt="Gallows" />
</div>
<div>
    You: @Model.GameState.ToString()!
</div>
