@using Hangman.Util
@{
   ViewBag.Title = "Justin's Hangman";
}

<div class="row">
    <h2>Justin's Hangman</h2>
    <img src="~/Content/Images/hang0.gif" alt="Gallows"/>
    @Html.ActionLink("Start or Resume Game", "StartGame")
</div>
<div>
    Session Id: @ViewBag.SessionId
</div>