@using Hangman.Util
@model Hangman.Models.GameStatus
@{
    ViewBag.Title = "Justin's Hangman";
}

<div class="row">
    <h2>Justin's Hangman</h2>
    <img src="~/Content/Images/hang0.gif" alt="Gallows" />
</div>
<div>
    @for (int i = 0; i < 26; i++)
    {
        @Html.ActionLink(Alphabet.AlphaString[i].ToString(), "Guess", new { value = Alphabet.AlphaString[i].ToString() })
        ;
    }
</div>
<div>
    <div>Hint?</div>
    <div style="color:white">
        @Model.CorrectWord
    </div>
</div>
